<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">

<div class="w3-bar w3-black">
  <a routerLink="admin-signin" class="w3-bar-item w3-button w3-mobile">SignIn</a>
  <a routerLink="admin-signup" class="w3-bar-item w3-button w3-mobile">SignUp</a>
</div>
</div>
<div class="container">
  
  <router-outlet></router-outlet>
</div>
</body>
</html>
